# Core Libraries
numpy==1.23.5
torch==2.0.1
torchvision==0.15.2
matplotlib==3.7.1
h5py==3.8.0

# Machine Learning and Data Processing
scikit-learn==1.2.2
scikit-image==0.20.0

# Quantum Computing
pennylane==0.32.0
pennylane-torch==0.32.0

# Additional Utilities
argparse==1.4.0